extends layout

block content
  <div class="card">
    <h3> Profile Page </h3>
    <img src="avatars.gif">
    <p><b> Age: </b> #{person.age} </p>
    <p><b> Username: </b> #{person.username} </p>
    <p><b> Favorite animal: </b> #{person.answerOne} </p>
    <p><b> Favorite food: </b>#{person.answerTwo} </p>
    <p><b> Favorite color: </b> #{person.answerThree} </p>
    <p><b> Email: </b> #{person.email} </p>
  </div>

  div
    p You last visited this page on #{cookieInfo}
  p
   a(href='/update') Edit This Info
  
  p
    a(href='/logout') Logout
