extends layout

block content
  table(class='profileDetails')
    tr
      th Username
      th Password
      th Email
      th Age
      th Questions
      th Answers
      
    tr
      td #{person.username}
      td #{person.password}
      td #{person.email}
      td #{person.age}
      td
      td 
    tr 
      td
      td
      td
      td
      td What is your favorite animal?
      td #{person.answerOne}
    tr 
      td
      td
      td
      td
      td What is your favorite food?
      td #{person.answerTwo}
    tr 
      td
      td
      td
      td
      td What is your favorite color?
      td #{person.answerThree}

  div
    p You last visited this page on #{cookieInfo}
  p
    a(href='/update') Edit This Info
  
  div
    a(href='/logout') Logout
